<div class="container">
    <div class="row pb-3">
        <div class="col">
            <h1>Hello {{user}}</h1>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <a href="/CreatePost" class="btn btn-primary btn-lg">+ Create Post</a>
        </div>
    </div>
    {{#each posts as |post|}}
    <div class="row pb-1">
        <div class="col-12 card">
            <div class="card-header d-flex justify-content-between">
                    <span>{{post.workingTitle}}</span>
                    <span>{{post.date}}</span>
            </div>
            <div class="card-body">
                {{post.bodyShort}}
            </div>
        </div>
    </div>
    <br />
    {{/each}}
</div>