    {{#each posts as |post|}}
    <div class="row pb-1">
        <div class="col-12 card">
            <div class="card-header d-flex justify-content-between">
                    <span>{{post.title}}</span>
                    <span>{{post.date}}</span>
            </div>
            <div class="card-body">
                {{post.body}}
            </div>
        </div>
    </div>
    <br />
    {{/each}}