<div class="py-3">
    <div class="row align-items-center">
        <div class="col-9">
            <h3>Login:</h3>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-9">
            <h5>Username:</h5>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-6">
            <input class="w-100" type="text" id="loginUsername" placeholder="Please enter your Username/Email">
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-9">
            <h5>Password:</h5>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-6">
            <input class="w-100" type="password" id="loginPassword" placeholder="Please enter your Password">
        </div>
    </div>
</div>
<button class="btn btn-primary" id="login" onclick="submitLogin()">Login</button>
<div>
    <br />
    <a class="btn btn-link" href="/Signup">Signup instead</a>
</div>
<script src='/js/login.js'></script>