<div class="py-3">
    <div class="row align-items-center">
        <div class="col-9">
            <h3>Signup:</h3>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-9">
            <h5>Username:</h5>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-9">
            <input class="w-100" type="text" id="signupUsername" placeholder="Please enter a Username">
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-9">
            <h5>Email:</h5>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-9">
            <input class="w-100" type="text" id="signupEmail" placeholder="Please enter your Email">
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-9">
            <h5>Password:</h5>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-9">
            <input class="w-100" type="password" id="signupPassword" placeholder="Please enter a Password">
        </div>
    </div>
</div>
<button class="btn btn-primary" id="signup" onclick="submitSignup()">Signup</button>
<div>
    <br />
    <a class="btn btn-link" href="/Login">Login instead</a>
</div>
<script src='/js/login.js'></script>